<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <%= render partial: 'shared/navbar'%>
      <%= render partial: 'shared/notification'%>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
<style>
  .hero {

    background-image: linear-gradient(to bottom, rgba(252,87,94, 0.75) , rgba(247,180,44, 0.52) ),
    url(<%= asset_url("book.jpg")%>);
    background-position: left 75%;
  }

  .project-title {
    font-family: 'Playfair Display', serif;
    font-size: 7rem;
    color: white;
    margin-bottom: 0;
  }
</style>
